/*
 * Mod Morph Behaviors
 *
 * These behaviors are used to create a key that can be used to type different
 * characters depending on the modifiers that are held down. 
 */

#define SHFT_MORPH(NAME, BINDING1, BINDING2) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_LSFT|MOD_RSFT)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )
// tap: /
// shift tap: |
SHFT_MORPH(slsh_morph, &kp FSLH, &kp PIPE)

SHFT_MORPH(plus_morph, &kp PLUS, &kp EQUAL)
