// vim: set filetype=c:

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>           // includes the keycodes
#include <dt-bindings/zmk/bt.h>             // includes the bluetooth codes

#include "../zmk-nodefree-config/helper.h"  // includes zmk-nodefree-config helpers (ZMK_BEHAVIOR)

#include "includes/settings.dtsi"           // includes personal settings
#include "includes/homerow-mods.dtsi"       // includes homerow mods
#include "includes/mod-morphs.dtsi"         // includes custom modifer keycodes

// Layer defintions
#define BASE 0
#define NAV 1
#define NUM 2
#define SYM 3
#define MEDIA 4
#define GAME 5

ZMK_COMBO(bkspc, &kp BKSPC, RM1 RM2, BASE NUM, 40)
ZMK_COMBO(caps, &caps_word, LM1 RM1, BASE, 50)
ZMK_COMBO(gameLyr, &tog 5, LT5 RT5, BASE GAME, 40)

ZMK_LAYER(BASE, 
    &kp ESC    &kp Q                &kp W          &kp E           &kp R            &kp T           &kp Y           &kp U           &kp I           &kp O          &kp P                   &kp BSLH
    &kp TAB    &hrm_l_shft LSHFT A  &hrm_l LALT S  &hrm_l LCTRL D  &hrm_l LGUI F    &kp G           &kp H           &hrm_r RGUI J   &hrm_r RCTRL K  &hrm_r RALT L  &hrm_r_shft RSHFT SQT   &kp SEMI 
    &kp LSHFT  &kp Z                &kp X          &kp C           &kp V            &kp B           &kp N           &kp M           &kp COMMA       &kp DOT        &kp FSLH                &kp RSHFT
                                                   &mo MEDIA       &lt NUM SPACE    &mt LSHFT TAB   &lt SYM ENTER   &lt NAV BSPC    &none
)

ZMK_LAYER(NAV,
    &none  &none      &none      &none       &none        &none     &kp PG_UP    &kp HOME   &kp END  &kp PG_DN  &none  &none
    &none  &kp LSHFT  &kp LALT   &kp LCTRL   &kp LGUI     &none     &kp LEFT     &kp DOWN   &kp UP   &kp RIGHT  &none  &none
    &none  &none      &kp K_CUT  &kp K_COPY  &kp K_PASTE  &none     &none        &none      &none    &none      &none  &none
                                 &none       &none        &none     &kp C_SLEEP  &none      &none
)

ZMK_LAYER(NUM,
    &none  &none      &none     &none      &none     &none    &kp MINUS    &kp N7  &kp N8  &kp N9  &none        &none
    &none  &kp LSHFT  &kp LALT  &kp LCTRL  &kp LGUI  &none    &plus_morph  &kp N4  &kp N5  &kp N6  &none        &none
    &none  &none      &none     &none      &none     &none    &kp GRAVE    &kp N1  &kp N2  &kp N3  &slsh_morph  &none
                                &none      &none     &none    &mt SYM DOT  &kp N0  &none
)

ZMK_LAYER(SYM,
    &none  &none  &kp MINUS  &kp LBRC  &kp RBRC  &none    &none     &none       &none       &none       &none       &none
    &none  &none  &kp EQUAL  &kp LPAR  &kp RPAR  &none    &none     &kp RGUI    &kp RCTRL   &kp RALT    &kp RSHFT   &none
    &none  &none  &kp PLUS   &kp LBKT  &kp RBKT  &none    &none     &none       &none       &none       &none       &none
                             &none     &none     &none    &none     &none       &none
)

ZMK_LAYER(MEDIA,
    &none  &none  &none       &kp C_VOLUME_UP   &kp PSCRN   &bt BT_CLR      &none  &none  &none  &none  &none  &none
    &none  &none  &kp C_PREV  &kp C_PLAY_PAUSE  &kp C_NEXT  &bt BT_SEL 0    &none  &none  &none  &none  &none  &none
    &none  &none  &none       &kp C_VOL_DN      &none       &bt BT_SEL 1    &none  &none  &none  &none  &none  &none
                              &none             &none       &none           &none  &none  &none
)

ZMK_LAYER(GAME, 
    &kp ESC    &kp Q  &kp W  &kp E     &kp R            &kp T         &kp Y          &kp U          &kp I      &kp O    &kp P     &kp BSLH
    &kp TAB    &kp A  &kp S  &kp D     &kp F            &kp G         &kp H          &kp J          &kp K      &kp L    &kp SEMI  &kp SQT
    &kp LSHFT  &kp Z  &kp X  &kp C     &kp V            &kp B         &kp N          &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                             &kp LALT  &lt NUM SPACE    &kp LCTRL     &lt SYM ENTER  &lt NAV BSPC   &kp LSHFT
)
